@{
    ViewBag.Title = "Potwierdzenie przypomnienia hasła.";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdzić email w celu zmiany hasła.
    </p>
</div>
	
